body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
form {
    margin-top: 12px;
}
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    color: #00B7FF;
}
h1 {
    color: #333;
    margin: 0 auto;
    padding: 0;
}
.emoji {
    width: 72px;
}